
.G {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: yellowgreen;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.B {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: red;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.I {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: orange;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.M {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #FF5722;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}
.E {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #007700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}
.N {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #000fff;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}
.D {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}
.A {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #007700;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.R {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: FF0000;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}
.S {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #00929A;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.P {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #7400B7;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.DP {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: #FF8D00;
    color: #FFFFFF;
    text-align: center;
    padding-top: 0px;
}

.O {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: yellow;
    color: black;
    text-align: center;
    padding-top: 0px;
}

.R {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: red;
    color: white;
    text-align: center;
    padding-top: 0px;
}

.C {
    width: 100%;
    height: 24px;
    padding: 11px;
    box-sizing: border-box;
    background-color: BLACK;
    color: white;
    text-align: center;
    padding-top: 0px;
}
