* {
  box-sizing: border-box;
}
.tappification {
  line-height: 1.42857143;
  position: absolute;
  min-height: 40px;
  z-index: 9007199254740992;
  background: #ffffff;
}
.tappification[data-position="bottom"] {
  right: 0;
  left: 0;
  bottom: -50px;
}
.tappification[data-position="top"] {
  right: 0;
  left: 0;
  top: 0;
}
.tappification button {
  background: none;
  border: none;
  outline: none;
  margin: 0;
  padding: 0;
}
/*.tappification .container {
  max-width: 933px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  padding: 0 20px 0px 30px;
  font-size: 14px;
  font-weight: 100;
}*/
.tappification .container {
    max-width: 100%;
    /* margin-left: 200px; */
    margin-right: auto;
    position: relative;
    padding: 0 6px 0px 19px;
    font-size: 14px;
    font-weight: 100;
}

.tappification .container div {
  display: inline-block;
}
.tappification .tappification-icon {
  font-size: 27px;
  position: absolute;
  top: 3px;
}
.tappification .tappification-message {
  padding-left: 40px;
  padding-top: 10px;
}
.tappification .tappification-link {
  padding-left: 40px;
  padding-top: 10px;
}
.tappification .tappification-link a {
  display: block;
  color: white;
  text-decoration: underline;
  -o-transition: opacity, 0.3s, ease-in;
  -moz-transition: opacity, 0.3s, ease-in;
  -webkit-transition: opacity, 0.3s, ease-in;
  transition: opacity, 0.3s, ease-in;
}
.tappification .tappification-link a:hover {
  opacity: 0.6;
}
.tappification .tappification-close {
  position: absolute;
  right: 15px;
  top: 5px;
  font-size: 20px;
  color:#fff;
  -o-transition: opacity, 0.2s, ease-in;
  -moz-transition: opacity, 0.2s, ease-in;
  -webkit-transition: opacity, 0.2s, ease-in;
  transition: opacity, 0.2s, ease-in;
}
.tappification .tappification-close:hover {
  opacity: 0.6;
}
.tappification .inverse {
  color: black;
}
@media screen and (max-width: 400px) {
  .tappification .container {
    padding-left: 0px;
  }
  .tappification .tappification-message,
  .tappification .tappification-link {
    padding-left: 15px;
  }
  .tappification .tappification-icon {
    display: none !important;
  }
}
.tappification-info {
  background-color: #167afb;
  color: #ffffff;
}
.tappification-info .tappification-link .primary {
  text-decoration: none;
  text-transform: uppercase;
  background: #0b3e85;
  border: solid 1px #093169;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
  font-weight: 500;
  -moz-border-radius: 4px;
  -webkit-border-radius: 4px;
  border-radius: 4px;
}
.tappification-info .tappification-icon {
  color: #7fbcfc;
}
.tappification-info .tappification-link {
  color: #e6e6e6;
}
.tappification-warning {
  background-color: #fdc12d;
  color: #000000;
}
.tappification-warning .tappification-link .primary {
  color: black;
}
.tappification-warning .tappification-icon {
  color: #000000;
}
.tappification-warning .tappification-link {
  color: #000000;
}
.tappification-danger {
  background-color: #f2dede;
  color: #a94442;
}
.tappification-danger .tappification-icon {
  color: #a94442;
}
.tappification-danger .tappification-link {
  color: #e6e6e6;
}
.tappification-btn-c2a {
  text-decoration: none;
  text-transform: uppercase;
  background: #0b3e85;
  border: solid 1px #093169;
  padding: 5px 15px 5px 15px;
  font-size: 12px;
  font-weight: 500;
}
